<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
{%- include head.html.liquid -%}
<body>
  {%- include navigation/sidebar.html.liquid type="snippet" -%}
  {%- include content-section.html.liquid type="snippet" -%}
</body>
<script src="/qazs-library/assets/scripts/section-collapse-script.js"></script>
<script src="/qazs-library/assets/scripts/hover-toggle-script.js"></script>
<script src="/qazs-library/assets/scripts/censor-script.js"></script>
<script src="/qazs-library/assets/scripts/scramble-script.js"></script>
</html>