{% assign character = site.data.characters[include.who] %}

$bg-1: {{ character.bg-1 }};
$bg-2: {{ character.bg-2 }};
$bg-3: {{ character.bg-3 }};
$text-color: {{ character.text-color }};
$acc-1: {{ character.acc-1 }};
$acc-2: {{ character.acc-2 }};
