@font-face {
  font-family: Ubuntu, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");
}

$default-font: Ubuntu, sans-serif !default;
$default-text-size-1: 12pt;
$default-text-size-2: 14pt;

$font: $default-font !default;
$text-size-1: $default-text-size-1 !default;
$text-size-2: $default-text-size-2 !default;
$section-bg: $bg-2 !default;

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  font-family: $font;
}

body {
  background: $bg-1;
  margin: 0;
}

@mixin tab {
  font-family: $default-font;
  font-size: $default-text-size-2;
  background-color: #e7e7e7;
  padding: 9px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
}

header {
  width: 100%;
}

#top-nav {
  @include tab;
  border-left: 4px solid #88f;
  border-bottom: 4px solid $acc-1;
  display: flex;
  align-items: center;

  #home {
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      $size: 27px;
      float: left;
      height: $size;
      width: $size;
      cursor: pointer;
      border: 2px solid;
      margin: 0 5px;
      transition: width 0.1s ease-in-out;
      font-size: 10pt;
      display: flex;
      align-items: center;
      font-weight: bold;
      padding: 5px;
      white-space: nowrap;

      div {
        display: none;
      }

      &:hover {
        div {
          display: block;
        }
      }
    }
  }
}

#title {
  padding: 12px 0 12px 24px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  backdrop-filter: blur(5px) brightness(90%);
  font-size: $text-size-2*1.5;
  $title-color: $acc-2 !default;
  color: $title-color;
}

@media screen and (max-width: 700px) {
  .section {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .section {
    width: 75%;
  }
}

.section {
  margin: 25px auto;
  border-left: 4px solid $acc-1;
  background: $section-bg;
  text-align: justify;
  text-justify: inter-word;

  p {
    margin-top: 0;
  }

  i, em{
    color: $acc-1;
  }

  b, strong {
    color: $acc-2;
  }

  button {
    @include tab;
    font-family: $font;
    font-size: $text-size-2;
    background-color: $bg-3;
    cursor: pointer;
  }

  div {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    font-size: $text-size-1;
    color: $text-color;
  }
}

@if variable-exists(background-image) {
  #main-content:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: $background-image;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
  }
}

/*
.active, .collapsible:hover {
  background-color: #ccc;
}
*/