@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

$font: Reenie Beanie, cursive;
$text-size-1: 20pt;
$text-size-2: 25pt;

$section-bg: rgba($bg-2, 0.3);

$title-color: $acc-1;
$prof-red: #d00;

#birdie-particles {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  overflow: hidden;
}

.circle-container {
  $particleNum: 200;

  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 2;

  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: hard-light;
    background-image: radial-gradient(
                    $acc-2,
                    $acc-2 10%,
                    hsla(0, 0, 0, 0) 56%
    );

    animation: fadein-frames 2000ms infinite, scale-frames 7s infinite;

    @keyframes fade-frames {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scale-frames {
      0% {
        transform: scale3d(0.4, 0.4, 1);
      }

      50% {
        transform: scale3d(2.2, 2.2, 1);
      }

      100% {
        transform: scale3d(0.4, 0.4, 1);
      }
    }
  }

  $particleBaseSize: 10;

  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleBaseSize);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionX: random(10) + 100;
      $framesName: "move-frames-" + $i;
      $moveDuration: 700 + random(3000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(37000) + ms;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(
                          #{$startPositionX + vw},
                          #{random(100) + vh},
                          0
          );
        }

        to {
          transform: translate3d(
                          #{- $startPositionX - random(30) + vw},
                          #{random(100) + vh},
                          0
          );
        }
      }

      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}

.sliding-background {
  background: url('images/cloud2.jpg') repeat-x;
  background-size: cover;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 608vw;
  overflow: visible;
  animation: slide 60s linear infinite;
  z-index: -1;
  filter: brightness(120%) contrast(70%) blur(15px) opacity(80%);

  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-304vw, 0, 0); /* The image width */
    }
  }
}

#title {
  font-weight: bold;
}

.section {
  backdrop-filter: blur(10px);

  button {
    b, strong {
      font-weight: normal;
    }

    .reread {
      font-size: 20pt;
    }
  }

  s {
    text-decoration: line-through $prof-red;
  }

  .underline {
    text-decoration: underline $prof-red;
  }

  .note {
    color: $prof-red;
    
    i, em, b, strong {
      color: $prof-red;
    }
  }

  .reread {
    font-family: Nothing You Could Do, sans-serif;
    font-size: 15pt;
  }
}

hr {
  border-color: #34f;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    margin: 4px;
  }
}

h1 {
  margin-top: 0;
  text-align: center;
}
