@font-face {
  font-family: Vtks Foolish Things, serif;
  src: url("fonts/vtks-foolish-things/Vtks-Foolish-Things.ttf") format("truetype");
}

$font: Vtks Foolish Things, serif;
$text-size-1: 25pt;
$text-size-2: 30pt;

$bg-1: #666;
$bg-2: #dca;
$bg-3: #975;
$text-color: #222;
$acc-1: #000;
$acc-2: #000;
$section-bg: rgba($bg-2, 0.4);

$background-image: url('images/paper.jpg');

.section {
  backdrop-filter: blur(10px);

  div {
    line-height: 25pt;
  }
}

.main-content:before {
  filter: saturate(30%) opacity(80%);
}

.match {
  font-size: 30pt;
  color: $acc-1;
  font-weight: bolder;
  font-style: italic;

  animation: beat 3s infinite;

  @keyframes beat {
    0%, 25%, 50%, 100% {
      color: rgba($text-color, 0.9);
    }

    12.5%, 37.5% {
      color: $acc-1;
    }
  }
}
