@font-face {
  font-family: Vtks Foolish Things, serif;
  src: url("fonts/vtks-foolish-things/Vtks-Foolish-Things.ttf") format("truetype");
}

$font: Vtks Foolish Things, serif;
$text-size-1: 25pt;
$text-size-2: 30pt;

$bg-1: #666;
$bg-2: rgba(221, 204, 170, .2);
$bg-3: #975;
$text-color: #333;
$acc-1: #000;
$acc-2: #000;

.section {
  backdrop-filter: blur(10px);

  button {
    backdrop-filter: blur(0);
  }

  div {
    line-height: 80%;

    b, strong {
      font-size: 30pt;
    }
  }
}

.main-content:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('images/paper.jpg');
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;

  filter: saturate(30%) opacity(80%);
}
